
.heading {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.part {
    text-align: left;
    font-weight: 700;
    font-size: large;
}

.guide {
    margin-top: -10px;
    font-style: italic;
    text-align: left;
    font-weight: 350;
}

.part_guide {
    margin-top: -10px;
    font-style: italic;
    text-align: left;
    font-weight: 350;
}

.button_area {
    margin-top: 100px;
    text-align: center;
}

.spark {
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 70px;
    border: solid;
    border-color: aquamarine;
    border-width: 7.5px;
    /* box-shadow: 0 6px grey; */
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    width: 70px;
    display: inline;
    transform: translateY(-2.5px);
}

.interval {
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 65px;
    border: solid;
    border-color: rgba(169, 169, 169);
    border-width: 5px;
    /* box-shadow: 0 6px grey; */
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    height: 65px;
    width: 65px;
    display: inline;
}







.source {
    margin-top: -10px;
    font-style: italic;
    text-align: left;
    font-weight: 350;
}


.title {
    font-weight: 500;
    text-align: center;
}

.content {
    text-align: justify;
    white-space: pre-line;
    font-weight: 350;
}

.partA_questions {
    margin-left: 5%;
    text-align: left;
    font-weight: 500;
}

.partB_question {
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}


.board {    
    margin-left: 50px;
    margin-right: 50px;
}

.main_container {
    display: flex;
}

#paper_container {
    padding-top: 10px;
    padding-right: 18px;
    flex: 1;
    min-height: 0; /* 防止内容溢出，允许容器收缩 */
    overflow-y: auto; /* 允许纵向滚动 */
    height: 500px; /* 设置容器的固定高度 */
}

#video_container {
    padding-top: 10px;
    flex: 1;
    min-height: 0; /* 防止内容溢出，允许容器收缩 */
    margin-left: 10px; /* 可根据需要调整左右间距 */
    height: 500px; /* 设置容器的固定高度 */
}


#separator {
    /* width: 10px;
    background-color: rgba(0,0,0,0);
    margin-left: 6px; */
    
    width: 8px; /* 设置分隔线的宽度 */
    background-color: #e0e0e0; /* 设置分隔线的颜色 */
    margin-left: 6px;
    margin-right: 6px;
    cursor: col-resize; /* 鼠标样式为调整宽度的指示器 */
    display: flex;
    align-items: center;
    text-align: center;
}

#separator:hover {
    width: 8px; /* 设置分隔线的宽度 */
    background-color: #b2b2b2; /* 设置分隔线的颜色 */
    margin-left: 6px;
    margin-right: 6px;
    cursor: col-resize; /* 鼠标样式为调整宽度的指示器 */
}


.indicator {
    width: 100%;
    height: 45px;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
}


.indicate_icon {
    stroke-width: 10px;
    fill: #D5D5D5;
}


.indicate_icon:hover {
    fill: #b2b2b2;
}

::-webkit-scrollbar{
    width: 8px;/* 纵向滚动条*/
    height: 8px;/* 横向滚动条 */
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: #fbfbfb;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: #D5D5D5;
    border-radius: 15px;
}


::-webkit-scrollbar-thumb:hover{
    background-color: #b2b2b2;
}