input {
    margin-right: 20px;
    /* margin-left: 20px; */
    width: 80px;
    height: 20px;
    font-size: medium;
    border: none;
}



.main {
    width: 100%;
}

.relevance_warning {
    margin-top: 15px;
    text-align: left;
    color: firebrick;
}

.bold_warning {
    font-weight: bold;
}

.blank_warning {
    color: firebrick;
}

.part_tooltip {
    position: absolute;
    top: 120%;
    left: 0;
    visibility: hidden;
    font-size: small;
    font-style: italic;
}


.chosen {
    font-weight: 700;
    font-size: large;
    color: black;
    /* text-decoration: underline; */
}

.chosen:hover {
    cursor: default;
}

.unchosen {
    font-weight: 500;
    font-size: large;
    color: lightgray;
}

.unchosen:hover {
    cursor: pointer;
}

.part_title {
    text-align: left;
    padding-top: 10px;
    position: relative;
}

.part_title span {
    margin-right: 20px;
}

#report_main {
    margin-left: 6%;
    margin-right: 6%;
}

.report_title {    
    text-align: left;
    font-weight: 700;
    /* font-size: large; */
}


/* only for detail enabled */
.correct:hover {
    cursor: pointer;
}

.incorrect:hover {
    cursor: pointer;
}

.active_correct:hover {
    cursor: pointer;
}

.active_incorrect:hover {
    cursor: pointer;
}

.incorrect {
    color: red;
    padding-left: 4px;
    padding-right: 4px;
    font-style: italic;
}

.active_correct {
    color: rgb(119, 183, 119);
    font-weight: bold;
}

.active_incorrect {
    color: red;
    padding-left: 4px;
    padding-right: 4px;
    font-style: italic;
    font-weight: bold;
}


td.correct {
    color: rgb(119, 183, 119);
}


.radar_chart_title{    
    text-align: left;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: -1px;
    /* font-size: large; */
}

.radar_chart_area {    
    /* display: flex; */
    overflow: visible;
    /* margin-top: 7px; */
    justify-content: center;
    align-items: center;
}

.radar_chart_container {
    /* margin-top: 20px; */
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 20px;
}

.legend {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: smaller;
}

.legend_num {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(80, 80, 80);
    font-weight: 600;
}

span.stress {
    text-decoration: #4b9beb double underline 2pt;
    /* text-decoration: #1E90FF double underline 2pt; */
}

span.high_speed {
    text-decoration: blueviolet dotted underline 3pt;
    z-index: 98;
    /* text-decoration: blueviolet dotted underline 1.8pt; */
}

span.low_speed {
    text-decoration: rgb(18, 239, 239) wavy underline 1.6pt;
    /* text-decoration: cyan wavy underline 1.6pt; */
    z-index: 99;
}

/* span.no_pause {
    background-color: darkcyan;
} */
span.brief_pause {
    background-color: lightblue;
}
span.master_pause {
    background-color: mediumaquamarine;
}
span.long_pause {
    background-color: darkcyan;
}


span.brief_pause_a {
    background-color: rgba(173, 216, 230, 0.6);
}
span.master_pause_a {
    background-color: rgba(102, 205, 171, 0.6);
}
span.long_pause_a {
    background-color: rgba(0, 139, 139, 0.6);
}

span.pause_example {
    font-style: italic;
    color: #6fafcf;
}

span.pause_span {
    font-weight: bold;
    color: #6fafcf;
}

/* .italic_span {
    font-style: italic;
} */

.text_area {
    float: left;
    width: 65%;
    height: auto;
    margin-left: 3%;
    margin-top: 20px;
    font-size: larger;
    line-height: 32px;
}


.score_container {
    float: left;
    width: 27%;
    height: auto;
    margin-right: 3%;
    margin-top: 20px;
    text-align: center;
}


.script {
    position: relative;
    padding-top: 10px;
}

.container {
    position: relative;
    top: 0px;
    left: 0px;
}

table {
    margin-left: 15px;
    margin-right: 16px;
    margin-bottom: 15px;
    margin-top: 5px;
}

table th {
    width: 80px;
}


.phone_tab td {
    text-align: center;
}


.error_detail {
    width: 260px;
    height: auto;
    padding: 10px;
    position: absolute;
    /* top: 110%;
    left: 0; */
    top: 28px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey;
    z-index: 1;
    
}



.progress_bar {
    position: absolute;
}

.short_bar {
    width: 100%;
    border-radius: 8px;
    border: none;
}

.long_bar {
    width: 100%;
    border-radius: 8px;
    border: none;
}



.score_item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.score_label {
    width: 100%;
}

.score_bar {
    /* width: 100%; */
    position: relative;
}

.overall_score_text {
    float: left;
    margin-left: 10px;
    font-weight: bolder;
}

.overall_score_value {
    float: right;
    margin-right: 10px;
    font-weight: bolder;
}


.sub_score_text {
    float: left;
    margin-left: 10px;
    font-weight: bolder;
    color: rgb(121, 121, 121)
}

.sub_score_value {
    float: right;
    margin-right: 10px;
    /* text-align: center; */
    font-weight: bolder;
    color: rgb(121, 121, 121)
}


.speed_text {
    background-color:#ededb0;
    /* background-color:#ededb0; */
}

.speed_number {
    color: #e7e246;
}

.pause_count_text {
    background-color: #b7e0d4;
}

.brief_pause_text {
    color: lightblue;
}
.master_pause_text {
    color: mediumaquamarine;
}
.long_pause_text {
    color: darkcyan;
}


.stress_label {
    background-color: #edd7b0;
}

.stress_sentence {
    color: #c99a4a;
    /* background-color: #edd7b0; */
    /* #eedbac */
    /* font-weight: bold; */
}

.stress_span {
    font-weight: bold;
    color: #c99a4a;
}

.pace_span {
    font-weight: bold;
    color: #73b9a4;
}

.grammar_span {
    font-weight: bold;
    color:rgb(147, 199, 182)
}

.vocab_span {
    font-weight: bold;
    color: #d898ab;
}

.vocab_example {
    font-style: italic;
    color: #d898ab;
}

.high_level_text {
    background-color: #bce3c2;
    /* font-style: italic; */
}

.medium_level_text {
    /* background-color: #bddeee; */
    /* font-style: italic; */
}

.low_level_text {
    background-color: #ecbac9;
    /* font-style: italic; */
}

.best_sentence {
    color: #38a248;
    /* color: #4cb15b; */
}

.worst_sentence {
    color: #be4f70;
}

.bold_span {
    font-weight: bold;
    color: #484848;
}



.intonation_sign {
    color: #4ba4fd;
    background-color: rgb(109, 178, 247);
    background-color: rgb(242, 196, 32);
    background-color: rgb(171, 171, 186);
}

.legend_container {
    margin-bottom: 10px;
}

.legend_container span:not(#legend_guidance) {
    /* margin-right: 15px; */
    margin-left: 15px;
    /* font-size: smaller; */
}
#legend_guidance {
    font-weight: bold;
    /* font-size: smaller; */
}
.legend_guidance {
    font-weight: bold;
    /* font-size: smaller; */
}

.result_control {
    margin-left: 5px;
    margin-bottom: 10px;
    /* width: 100px; */
    height: 26px;
}

.voicing_control {
    text-align: left;
    font-size: bolder;
}

.answer_audio_player {
    margin-left: 5px;
}

