#question_area {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

/* .tooltip-container {
    position: relative;
    display: inline-block;
}
  
.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  } */
  
#part {
    text-align: left;
    font-weight: 700;
    font-size: large;
}

#intro {
    margin-top: -10px;
    font-style: italic;
    text-align: left;
    font-weight: 350;
}

#title {
    font-weight: 500;
    text-align: center;
}

#content {
    text-align: justify;
    white-space: pre-line;
    font-weight: 350;
}

.partA_questions {
    margin-left: 5%;
    text-align: left;
    font-weight: 500;
}

#partB_question {
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}