.btn_div {
    text-align: center;
}


.button:not(#pause_resume_button) {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px grey;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    font-weight: bold;
    height: 45px;
    display: inline;
}

.button:not(#replay_button, #stop_replay_button, #pause_resume_button) {
    width: 120px;
}

#replay_button {
    width: 165px;
}

#stop_replay_button {
    width: 165px;
}

.label {
    display: none;
    vertical-align: middle;
}

#duration {
    position: relative;
    bottom: 6px;
    left: 2px;
}

#timing {
    position: relative;
    bottom: 6px;
    left: 2px;
}


#pause_resume_button {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px grey;
    text-align: center;
    vertical-align: middle;
    font-size: small;
    font-weight: bold;
    height: 45px;
    width: 80px;
    display: inline;
}


#pause_resume_button:hover{
    background-color: lightpink;
    cursor: pointer;
}

.button:not(#pause_resume_button):hover {
    background-color: rgb(85, 218, 173);
    cursor: pointer;
}


.button:hover .button_icon{
    display: none;
}

.button:hover #countdown{
    display: none;
}

#countdown {
    display: inline;
}

.button:hover .label{
    display: inline;
    font-size: large;
}

.button:hover #duration {
    display: none;
}

.button:hover #timing {
    display: none;
}

.button:not(#pause_resume_button):active {    
    background-color: aquamarine;
    color: lightgray;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}


#pause_resume_button:active {    
    background-color: mistyrose;
    color: lightgray;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.button_icon {
    fill: white;
    transform: "translate(0px, 15px)";
    position: relative;
    top: 3px;
}

.button:active .button_icon {
    fill: lightgray;
}

#notice {
    text-align: center;
    margin-top: 10px;
    /* font-style: italic; */
    font-weight: 350;
}











#question_area {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

/* .tooltip-container {
    position: relative;
    display: inline-block;
}
  
.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  } */
  
#part {
    text-align: left;
    font-weight: 700;
    font-size: large;
}

#intro {
    margin-top: -10px;
    font-style: italic;
    text-align: left;
    font-weight: 350;
}

#notice {
    margin-top: -10px;
    margin-bottom: 80px;
    font-style: italic;
    text-align: left;
    font-weight: 350;
}

#title {
    font-weight: 500;
    text-align: center;
}

#content {
    text-align: justify;
    white-space: pre-line;
    font-weight: 350;
}

.partA_questions {
    margin-left: 5%;
    text-align: left;
    font-weight: 500;
}

#partB_question {
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}