.waiting_dialog {
    width: auto;
    height: auto;
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}


.waiting_dialog_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
}


.spinner {
    margin-top: 5px;
    width: 32px;
    height: 32px;
    border: 9px solid rgb(237, 239, 239);
    border-top: 9px solid darkcyan;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}